<footer>
  <div class="container">
    <div class="footer-col">
      Under Construction.<br/>
      <abbr title="Last build on {{site.time | date: '%Y-%m-%d'}}">{{ site.time | date: '%B %d %Y'}}</abbr>
    </div>
    <div class="footer-col">
      <a href="https://github.com/silentmovie/silentmovie.github.io/edit/master/{{page.path}}">Edit this page</a>
    </div>
    <div class="footer-col visitor-map">
      <script type="text/javascript" id="mapmyvisitors" src="https://mapmyvisitors.com/map.js?cl=f8f9fa&w=a&t=tt&d=iuCl-O_St3FiABxzNLzdlMmtRzQvtM5j-Vc0ntSHkzI&co=003262&cmo=ffd700&cmn=00c2ff&ct=ffffff"></script>
    </div>
    <!-- <div class="footer-col site-desc">{{ site.description }} I'm <a href="https://twitter.com/domoritz">@domoritz</a> on Twitter, <a rel="me" href="https://vis.social/@dom">@dom@vis.social</a> on the Fediverse, and <a href="https://bsky.app/profile/domoritz.de">@domoritz.de</a> on Bluesky.</div> -->
  </div>
</footer>
