{% assign current = page.url | downcase | split: '/' %}
<header class="page-header">
  <nav class="container">
    <a class="site-title" href="{{ absolute_url }}/">{{ site.title }}</a>

    <!-- <a href="{{ '/projects/' | relative_url }}" {% if current[1] == 'projects' %}aria-current="page" {% endif %}>Projects</a> -->
    <a href="{{ '/research/' | relative_url }}" {% if current[1] == 'research' %}aria-current="page" {% endif %}>Research</a>
    <a href="{{ '/publications/' | relative_url }}" {% if current[1] == 'publications' %}aria-current="page"{% endif %}>Publications</a>
    <a href="{{ '/teaching/' | relative_url }}" {% if current[1] == 'teaching' %}aria-current="page" {% endif %}>Teaching</a>
    <a href="{{ '/activities/' | relative_url }}" {% if current[1] == 'activities' %}aria-current="page"{% endif %}>Activities</a>
    <a href="{{ '/posts/' | relative_url }}" {% if current[1] == 'posts' %}aria-current="page"{% endif %}>Posts</a>
    <!-- <a href="{{ '/cv/' | relative_url }}" {% if current[1] == 'cv' %}aria-current="page"{% endif %}>CV</a> -->

    <span class="external">
      <!-- <a href="https://bsky.app/profile/domoritz.de"><i class="fa-brands fa-bluesky" aria-hidden="true"></i> Bsky</a> -->
      <a href="mailto:bhzhou@ucsb.edu"><i class="fa-solid fa-envelope" aria-hidden="true"></i> Email</a>
    </span>
  </nav>
</header>
