@use "_vars" as *;

footer {
  padding: $spacing-unit 0;
  font-size: $small-font-size;
  background-color: $footer-background; // e.g., UC blue #003262
  color: $footer-text; // e.g., white

  a {
    color: #fff;
    &:hover {
      opacity: 1;
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  .footer-col {
    flex: 1 1 30%;
    padding: calc($spacing-unit / 2) 0;

    &:first-child {
      text-align: left;
    }
    &:nth-child(2) {
      text-align: center;
    }
    &:last-child {
      text-align: right;
    }
  }

  .visitor-map {
    iframe, script {
      max-width: 100%;
    }
  }

  footer p {
    margin: 0;
    line-height: 1.5;
    color: $footer-text;
  }

  span[title] {
    color: lighten($footer-text, 10%);
    font-style: italic;
  }

  .site-desc {
    width: 500px;

    @include media-query($on-laptop) {
      flex: 1 100%;
    }
  }
}
